<div class="container border bg-color box">
    <ul class="nav flex-column item1 box2">
        <!-- <li class="nav-item lst-border">
            <a class="nav-link active font-weight-bold">Overview</a>
        </li> -->
        <li class="nav-item lst-border ">
            <a class="nav-link font-weight-bold" routerLink="/account">Account Balance</a>
        </li>
        <li class="nav-item lst-border">
            <a class="nav-link font-weight-bold" routerLink="/deposit">Deposit Amount</a>
        </li>
        <li class="nav-item lst-border">
            <a class="nav-link font-weight-bold" routerLink="/withdraw">Withdraw Amount</a>
        </li>
        <li class="nav-item lst-border">
            <a class="nav-link font-weight-bold" routerLink="/transfer">Transfer Amount</a>
        </li>
        <li class="nav-item lst-border">
            <a class="nav-link font-weight-bold" routerLink="/statements">View Statements</a>
        </li>
        <li class="nav-item lst-border">
            <a class="nav-link font-weight-bold" routerLink="/transactions">View Transactions</a>
        </li>
        <li class="nav-item lst-border">
            <a class="nav-link font-weight-bold" routerLink="/logout">Exit</a>
        </li>

    </ul>



</div>